@layer Reset, Properties, Typography, Layout, Components, Utilities;

@layer Reset {

    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    * {
        margin: 0;
        padding: 0;
        font: inherit;
        /* Get rid of all font sizes and heights */
    }
}

@layer Properties {
    :where(html) {
        --background-color: light-dark(var(--gray-1), var(--gray-12));
        --color: light-dark(var(--gray-12), var(--gray-1));
        --brand-color: light-dark(var(--blue-5), var(--blue-7));
        --brand-color-contrast: light-dark(var(--blue-9), var(--blue-3));
        --brand-color-accent: light-dark(var(--blue-7), var(--blue-5));
        --surface-1: light-dark(var(--gray-3), var(--gray-9));
        --surface-2: light-dark(var(--gray-4), var(--gray-8));
        --surface-3: light-dark(var(--gray-5), var(--gray-7));
        --surface-4: light-dark(var(--gray-6), var(--gray-6));
    }
}

@layer Typography {
    :where(html) {
        font-family: var(--font-system-ui);
        font-size: var(--font-size-1);
        font-weight: var(--font-weight-2);
        font-style: normal;
        letter-spacing: var(--font-letterspacing-1);
        line-height: var(--font-lineheight-1);
        -webkit-text-size-adjust: none;
        /* https://kilianvalkhof.com/2022/css-html/your-css-reset-needs-text-size-adjust-probably/ */
        hanging-punctuation: first last;
        /* Not supported in Chrome */
        background-color: var(--background-color);
        color: var(--color);
        color-scheme: dark light;
        /* Default dark */

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            line-height: var(--font-lineheight-1);
        }

        h1 {
            font-size: var(--font-size-7);
            font-weight: var(--font-weight-7);
        }

        h2 {
            font-size: var(--font-size-6);
            font-weight: var(--font-weight-6);
        }

        h3 {
            font-size: var(--font-size-5);
            font-weight: var(--font-weight-5);
        }

        h4 {
            font-size: var(--font-size-4);
            font-weight: var(--font-weight-4);
        }

        h5 {
            font-size: var(--font-size-3);
            font-weight: var(--font-weight-3);
        }

        h6 {
            font-size: var(--font-size-2);
            font-weight: var(--font-weight-2);
        }

        a {
            color: var(--brand-color);
            font-weight: var(--font-weight-5);
            text-decoration: none;
        }

        a:hover {
            cursor: pointer;
            text-decoration: underline;
            text-underline-offset: var(--size-1);
        }

        abbr {
            cursor: help;
            text-underline-offset: var(--size-1);
        }

        mark {
            background-color: light-dark(var(--yellow-1), var(--yellow-3));
            ;
            padding: var(--size-1);
            border-radius: var(--size-2);
        }

        strong,
        b {
            font-weight: var(--font-weight-7);
        }

        em,
        i,
        cite {
            font-weight: var(--font-weight-1);
            font-style: italic;
        }

        u,
        s,
        del,
        ins {
            text-decoration-thickness: 2px;
        }

        small,
        sub,
        sup {
            font-size: var(--font-size-0);
            line-height: var(--font-lineheight-00);
        }

        del,
        .alert {
            color: light-dark(var(--red-5), var(--red-7));
        }

        ins {
            color: light-dark(var(--green-5), var(--green-7));
        }

        kbd {
            font-family: var(--font-monospace-code);
            line-height: var(--font-lineheight-5);
            background-color: light-dark(var(--gray-4), var(--gray-8));
            padding: var(--size-1) var(--size-2);
            border: 1px solid light-dark(var(--gray-5), var(--gray-7));
            border-radius: var(--radius-2);
        }

        p {
            margin-block: var(--size-2);
        }

        @media print {
            font-size: var(--font-size-0);

            h1 {
                font-size: var(--font-size-6);
                font-weight: var(--font-weight-6);
            }

            h2 {
                font-size: var(--font-size-5);
                font-weight: var(--font-weight-5);
            }

            h3 {
                font-size: var(--font-size-4);
                font-weight: var(--font-weight-4);
            }

            h4 {
                font-size: var(--font-size-3);
                font-weight: var(--font-weight-3);
            }

            h5 {
                font-size: var(--font-size-2);
                font-weight: var(--font-weight-2);
            }

            h6 {
                font-size: var(--font-size-1);
                font-weight: var(--font-weight-1);
            }

            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                color: var(--color);
                margin-block: 0;
            }

            table {
                margin-block: 0;
            }
        }

        @media (prefers-color-scheme: dark) {

            .shiki,
            .shiki span {
                color: var(--shiki-dark) !important;
                background-color: var(--shiki-dark-bg) !important;
                /* Optional, if you also want font styles */
                font-style: var(--shiki-dark-font-style) !important;
                font-weight: var(--shiki-dark-font-weight) !important;
                text-decoration: var(--shiki-dark-text-decoration) !important;
            }
        }
    }

    [data-theme="light"] {
        color-scheme: light;
        --nav-icon: var(--gray-7);
        --nav-icon-hover: var(--gray-9);
    }

    [data-theme="dark"] {
        color-scheme: dark;
        --nav-icon: var(--gray-5);
        --nav-icon-hover: var(--gray-2);
    }

    @media print {
        [data-theme="dark"] {
            color-scheme: light;
        }
    }

    #moon,
    #sun {
        fill: var(--nav-icon);
        stroke: none;

        :hover>svg>& {
            fill: var(--nav-icon-hover);
        }
    }

    #sun {
        transition: transform .5s var(--ease-4);
        transform-origin: center center;
    }

    #sun-beams {
        --_opacity-dur: .15s;
        stroke: var(--nav-icon);
        stroke-width: 2px;
        transform-origin: center center;
        transition:
            transform .5s var(--ease-elastic-out-4),
            opacity var(--_opacity-dur) var(--ease-3);

        :hover>svg>& {
            stroke: var(--nav-icon-hover);
        }
    }

    #moon>circle {
        transition: transform .5s var(--ease-out-3);
    }

    [data-theme="light"] {
        & #sun {
            transform: scale(.5);
        }

        & #sun-beams {
            transform: rotateZ(.25turn);
            --_opacity-dur: .5s;
        }
    }

    [data-theme="dark"] {
        & #moon>circle {
            transform: translateX(-20px);
        }

        & #sun-beams {
            opacity: 0;
        }
    }
}

@layer Layout {
    :where(html) {
        body {
            min-height: 100dvh;
            display: flex;
            flex-direction: column;
        }

        body>header {
            padding-block: var(--size-2);
            background-color: var(--surface-1);

            nav {
                width: min(100% - var(--size-6), var(--container-max, 140ch));
                margin-inline: auto;
                display: grid;
                grid-template-columns: 1fr var(--size-px-6);
                grid-template-rows: auto;
                grid-template-areas:
                    "title theme-toggle"
                    "menu menu";

                .title {
                    grid-area: title;
                    padding-inline-start: var(--size-px-6);
                    color: var(--brand-color);
                    font-size: var(--font-size-fluid-3);
                    font-weight: var(--font-weight-9);
                    text-align: center;
                }

                menu {
                    grid-area: menu;
                    display: flex;
                    justify-content: space-around;
                    align-content: center;
                    flex-wrap: wrap;
                    row-gap: var(--size-1);
                    column-gap: var(--size-3);
                    margin-inline: var(--size-2);

                    a {
                        font-size: var(--font-size-fluid-1);
                        font-weight: var(--font-weight-9);
                        color: var(--brand-color);
                        ;
                    }
                }

                .theme-toggle {
                    grid-area: theme-toggle;
                    justify-self: end;
                    align-self: start;
                    margin-block-start: var(--size-1);
                }
            }
        }

        body>main {
            flex-grow: 1;
            margin-block-end: var(--size-3);

            article {
                width: min(100% - var(--size-6), var(--container-max, 140ch));
                margin-inline: auto;
            }
        }

        body>footer {
            text-align: center;
            padding-block: var(--size-2);
            font-size: var(--font-size-3);
            font-weight: var(--font-weight-6);
            background-color: var(--surface-1);
            color: var(--brand-color);
        }

        @media screen and (width>=1024px) {
            body>header>nav {
                grid-template-columns: 1fr 1fr 22px;
                grid-template-areas: "title menu theme-toggle";

                .title {
                    text-align: start;
                    padding-inline-start: 0;
                }

                menu {
                    justify-content: end;
                }
            }
        }

        @media print {
            body {
                -webkit-print-color-adjust: exact !important;
                print-color-adjust: exact !important;
            }

            body>header,
            body>footer {
                display: none;
            }

            body>main>article {
                width: 100%;
            }
        }
    }
}

@layer Components {
    :where(html) {
        hr {
            border: var(--size-px-1) solid var(--brand-color);
        }

        hgroup {
            margin-block: var(--size-3);

            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                line-height: var(--font-lineheight-0);
            }

            * {
                margin: 0;
                padding: 0;
            }
        }

        blockquote {
            width: min(100% - var(--size-6), var(--container-max, 80ch));
            margin-block: var(--size-2);
            margin-inline: auto;
            padding-inline-start: var(--size-4);
            padding-block: var(--size-2);
            border-inline-start: var(--size-2) solid var(--brand-color);

            cite {
                display: block;
                text-align: end;
                margin-block: var(--size-2);
            }
        }

        img {
            max-width: 100%;
            border-radius: var(--size-3);
            margin-block: var(--size-2);
        }

        figure {
            text-align: center;

            figcaption {
                font-style: italic;
            }
        }

        iframe {
            max-width: 100%;
        }

        code {
            font-family: var(--font-monospace-code);
            background-color: light-dark(var(--gray-4), var(--gray-8));
            padding: var(--size-1) var(--size-2);
            border: 1px solid light-dark(var(--gray-5), var(--gray-7));
            border-radius: var(--radius-2);
        }

        pre {
            overflow-x: auto;
            overflow-y: hidden;
            margin-block: var(--size-3);

            code {
                background-color: transparent;
                border: 0;
                border-radius: var(--size-3);
            }
        }

        ul,
        ol {
            margin-inline-start: var(--size-7);
            margin-block: var(--size-3);
        }

        :where(table) {
            --nice-inner-radius: calc(var(--radius-3) - 2px);

            width: fit-content;
            border: 1px solid var(--surface-1);
            background: var(--surface-1);
            border-radius: var(--radius-3);
            break-inside: avoid;
        }

        :where(table:not(:has(tfoot)) tr:last-child td:first-child) {
            border-end-start-radius: var(--nice-inner-radius);
        }

        :where(table:not(:has(tfoot)) tr:last-child th:first-child) {
            border-end-start-radius: var(--nice-inner-radius);
        }

        :where(table:not(:has(tfoot)) tr:last-child td:last-child) {
            border-end-end-radius: var(--nice-inner-radius);
        }

        :where(table:not(:has(thead)) tr:first-child td:first-child) {
            border-start-start-radius: var(--nice-inner-radius);
        }

        :where(table:not(:has(thead)) tr:first-child th:first-child) {
            border-start-start-radius: var(--nice-inner-radius);
        }

        :where(table:not(:has(thead)) tr:first-child td:last-child) {
            border-start-end-radius: var(--nice-inner-radius);
        }

        :where(table thead tr:first-child th:first-child) {
            border-start-start-radius: var(--nice-inner-radius);
        }

        :where(table thead tr:first-child th:last-child) {
            border-start-end-radius: var(--nice-inner-radius);
        }

        :where(tfoot tr:last-child :is(th, td):first-of-type) {
            border-end-start-radius: var(--nice-inner-radius);
        }

        :where(tfoot tr:last-child :is(th, td):last-of-type) {
            border-end-end-radius: var(--nice-inner-radius);
        }

        :where(th) {
            color: var(--text-1);
            background-color: var(--surface-1);
        }

        :where(table :is(a, button, [contenteditable]):is(:focus-visible)) {
            outline-offset: -2px;
        }

        :where(td) {
            background: var(--background-color);
            max-inline-size: var(--size-content-3);
            text-wrap: pretty;
            text-align: start;
            padding: var(--size-2);
        }

        :where(th) {
            text-align: center;
            padding: var(--size-2);
        }

        :where(table:not(:has(thead)) th) {
            text-align: end;
        }

        :where(thead) {
            border-collapse: collapse;
        }

        :where(table tr:hover td),
        :where(tbody tr:nth-child(even):hover td) {
            background-color: var(--surface-2);
        }

        :where(table > caption) {
            margin: var(--size-3);
        }

        :where(tfoot button) {
            padding-block: var(--size-1);
            padding-inline: var(--size-3);
        }
    }
}

@Layer Forms {
    :where(html) {

        input,
        textarea {
            padding: var(--size-2) var(--size-3);
            margin: var(--size-1);
            border: 2px solid var(--surface-2);
            border-radius: var(--radius-2);
            background-color: var(--background-color);
        }

        input[aria-invalid=false],
        textarea[aria-invalid=false],
        select[aria-invalid=false],
        fieldset[aria-invalid=false] {
            border-color: light-dark(var(--green-5), var(--green-7));
        }

        input[aria-invalid=true],
        textarea[aria-invalid=true],
        select[aria-invalid=true],
        fieldset[aria-invalid=true] {
            border-color: light-dark(var(--red-5), var(--red-7));
        }

        textarea {
            resize: vertical;
            min-height: var(--size-9);
        }

        input[aria-invalid=true]+*,
        textarea[aria-invalid=true]+* {
            color: light-dark(var(--red-5), var(--red-7));
            margin-block-start: 0;
            margin-block-end: var(--size-1);
            font-size: var(--font-size-0);
            font-weight: var(--font-weight-5);
        }

        input[type=search] {
            font-size: var(--font-size-3);
            padding-block: var(--size-3);
            padding-inline-start: var(--size-px-8);
            padding-inline-end: var(--size-3);
            border-radius: var(--radius-round);
            background-image: url("data:image/svg+xml;utf8,<svg width='800px' height='800px' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M15.7955 15.8111L21 21M18 10.5C18 14.6421 14.6421 18 10.5 18C6.35786 18 3 14.6421 3 10.5C3 6.35786 6.35786 3 10.5 3C14.6421 3 18 6.35786 18 10.5Z' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/></svg>");
            background-repeat: no-repeat;
            background-size: var(--size-4);
            background-position: left var(--size-px-3) top var(--size-px-4);
        }

        @media (prefers-color-scheme: dark) {
            input[type=search] {
                background-image: url("data:image/svg+xml;utf8,<svg width='800px' height='800px' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M15.7955 15.8111L21 21M18 10.5C18 14.6421 14.6421 18 10.5 18C6.35786 18 3 14.6421 3 10.5C3 6.35786 6.35786 3 10.5 3C14.6421 3 18 6.35786 18 10.5Z' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/></svg>");
            }
        }

        input[type=color] {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            padding: 0;
            width: 100%;
            height: var(--size-8);
            border: none;
        }

        input[type=color]::-webkit-color-swatch {
            border-radius: var(--radius-2);
            border: 2px solid var(--surface-2);
        }

        input[type=color]::-moz-color-swatch {
            border-radius: var(--radius-2);
            border: 2px solid var(--surface-2);
        }

        input[type=file] {
            padding: var(--size-1);
        }

        input[type=file]::file-selector-button {
            display: inline-block;
            padding: var(--size-1) var(--size-2);
            margin-inline-end: var(--size-2);
            background-color: var(--surface-3);
            border: 2px solid var(--surface-4);
            border-radius: var(--radius-2);
            font-size: var(--font-size-2);
            font-weight: var(--font-weight-5);
        }

        input[type=file]::file-selector-button:hover {
            background-color: var(--surface-2);
        }

        input[type="checkbox"],
        input[type="radio"] {
            width: var(--size-4);
            height: var(--size-4);
            accent-color: var(--brand-color);
        }

        input[type="range"] {
            padding: 0;
            accent-color: var(--brand-color);
        }

        input:read-only {
            outline: 0;
        }

        button,
        input[type=submit],
        a[role=button] {
            display: inline-block;
            padding: var(--size-2) var(--size-3);
            margin: var(--size-1);
            background-color: var(--brand-color);
            border: 2px solid var(--brand-color);
            border-radius: var(--radius-2);
            color: var(--background-color);
            font-size: var(--font-size-2);
            font-weight: var(--font-weight-5);
            text-decoration: none;
            text-align: center;
            outline-offset: 1px;
        }

        button:hover,
        input[type=submit]:hover,
        a[role=button]:hover {
            background-color: var(--brand-color-accent);
        }

        button:focus-visible,
        input:focus-visible,
        textarea:focus-visible,
        a:focus-visible {
            outline: 2px solid var(--brand-color-contrast);
            outline-offset: 2px;
        }

        button:active,
        input[type=submit]:active,
        a[role=button]:active {
            outline: 4px solid var(--brand-color-contrast);
            outline-offset: 0px;
        }

        form {

            label {
                text-wrap: nowrap;
            }

            :where(label:not(:has(input[type=checkbox], input[type=radio]))) {
                display: flex;
                flex-direction: column;

                input {
                    margin-inline: 0;
                }
            }

            fieldset {
                padding: var(--size-2) var(--size-3);
                margin: var(--size-1);
                margin-block-start: var(--size-6);
                border: 2px solid var(--surface-2);
                border-radius: var(--radius-2);
                position: relative;

                legend {
                    position: absolute;
                    top: calc(var(--size-5) * -1);
                    left: calc(var(--size-1) * -1);
                    text-wrap: nowrap;
                }
            }

            footer {
                display: flex;
                justify-content: end;
                gap: var(--size-3);
                padding-block: var(--size-3);
            }

            button,
            input[type=submit],
            a[role=button] {
                padding: var(--size-3) var(--size-4);
                margin: 0;
            }
        }

        select,
        ::picker(select) {
            appearance: base-select;
        }

        select {
            padding: var(--size-2) var(--size-3);
            margin: var(--size-1);
            border: 2px solid var(--surface-2);
            border-radius: var(--radius-2);
            background-position: -10px;

            button {
                font-size: var(--font-size-1);
                font-weight: var(--font-weight-2);
                background-color: var(--background-color);
                color: var(--color);
                border: none;
                padding: 0;
                margin: 0;
            }

            option {
                margin: 0;
                padding-inline: var(--size-2);
                border-radius: var(--radius-2);
            }
        }

        select:hover {
            background-color: var(--surface-1);

            button {
                background-color: var(--surface-1);
            }
        }

        ::picker(select) {
            padding: var(--size-1);
            border: 2px solid var(--surface-2);
            border-radius: var(--radius-2);
            background-color: var(--surface-1);
            top: calc(anchor(bottom) + 1px);
        }

        select::picker-icon {
            color: var(--color);
            transition: 0.4s rotate;
        }

        select:open::picker-icon {
            rotate: 180deg;
        }
    }
}

@layer Utilities {
    .container {
        width: min(100% - var(--size-6), var(--container-max, 80ch));
        margin-inline: auto;
    }

    .max-width {
        width: 100%;
    }

    .overflow-x {
        overflow-x: auto;
        margin-block: var(--size-3);
    }

    .flex-column {
        display: flex;
        flex-direction: column;
    }

    .cols-2 {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: var(--size-1);
        column-gap: var(--size-3);
    }

    @media screen and (width>=768px) {
        .cols-2 {
            grid-template-columns: 1fr 1fr;
        }
    }

    @media print {
        .page-break-after {
            break-after: always;
            page-break-after: always;
        }

        a {
            color: var(--color);
        }
    }
}